/* initial padding, margin, 0 */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Fonts */
body {
    font-family: Arial, sans-serif;
    overflow-x: hidden;
}

/* navbar area START */
.navbar {
    padding: 1rem 2rem;
    background-color: #FFFFFF;
    display: flex;
    gap: 10rem;
    justify-content: center;
    align-items: center;
}

.navItems {
    display: flex;
    gap: 0.7rem;
    justify-content: center;
    align-items: center;
    list-style: none;
    color: rgba(68, 81, 100, 1);
}

.navItems li {
    flex: 1 1 auto;
    text-align: center;
    white-space: nowrap;
}

.navItems img {
    color: rgba(214, 218, 225, 1);
    font-size: 1.5rem;
}

.navAction {
    display: flex;
    align-items: center;
    gap: 0.4rem;
}

.profilePic img {
    width: 2.3rem;
    height: 2.3rem;
    border-radius: 10rem;
}

.loginBtn {
    padding: 0.8rem 1.1rem;
    border: none;
    background-color: #F1654C;
    color: #fff;
    border-radius: 0.4rem;
    cursor: pointer;
}

.loginBtn:hover {
    background-color: #f72500e4;
}

.logo span {
    font-size: 1.8rem;
    font-weight: bold;
}

.navLogoColor {
    color: #F1654C;
}

.navLogoColor1 {
    color: #333;
}

.nav-items {
    color: #445164;
}

/* navbar area END */


/* hero section area START*/
.hero-section {
    padding-top: 3rem;
    display: flex;
    justify-content: center;
    gap: 18rem;
    align-items: center;
    padding-bottom: 8rem;
    position: relative;
    z-index: 1;
    background-color: #F5F6F7 !important;
}

.hero-section::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('../images/bg-img.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    opacity: 0.1;
    z-index: -1;
}

.image-container {
    position: relative;
}

.main-image img {
    width: 18rem;
    height: 25rem;
    display: block;
    border-radius: 0.4rem;
}

.overlay-image {
    position: absolute;
    bottom: -4.6875rem;
    left: -10rem;
    background-image: url('..//images/Group.png');
    background-repeat: no-repeat;
    padding-top: 10rem;
}

.overlay-image img {
    width: 12.5rem;
    height: 15.625rem;
    border-radius: 0.5rem;
}

.cta-button {
    padding: 1rem 2rem;
    background-color: #F1654C;
    color: white;
    border-radius: 0.5rem;
    border: none;
}

.cta-button1 {
    padding: 1rem 2rem;
    background-color: rgba(234, 236, 240, 1);
    border: 0.02rem solid #ddd;
    color: black;
    border-radius: 0.5rem;
}

.hero-text {
    font-weight: bold;
    line-height: 3.3rem;
    font-size: 2rem;
}

.hero-content {
    color: #445164;
    font-size: 0.84rem;
    line-height: 1.5rem;
}

/* hero section area END*/

/* section ClanBook area START*/
.ClanBook {
    display: flex;
    justify-content: center;
    gap: 6rem;
    align-items: center;
}

.photo-frame {
    position: relative;
}

.frame img {
    width: 21rem;
    height: 29rem;
    border-radius: 0.5rem;
}

.frame1 {
    position: absolute;
    bottom: 19rem;
    padding-left: 12.4rem;
}

.frame1 img {
    width: 12rem;
    height: 8rem;
    border-radius: 0.4rem;
}

.ClanBookContent {
    line-height: 1.1rem;
    color: #445164;
    font-size: 1rem;
    padding-top: 1.8rem;
}

.ClanBookTitle1 {
    color: #F1654C;
}

.ClanBookTitle {
    text-align: center;
    font-weight: bold;
    font-size: 2rem;
}

.ClanBookParagraph {
    text-align: center;
    color: #445164;
}

p {
    text-transform: capitalize;
}

h1 {
    text-transform: capitalize;
}

/* section ClanBook area END*/

/* join area START*/
.bg-cart-title {
    font-weight: bold;
    font-size: 1.5rem;
    text-align: center;
}

.bg-card-area {
    background-color: rgba(255, 255, 255, 1);
    padding: 4.125rem;
    margin: 0 auto;
    max-width: 63.875rem;
    border-radius: 0.625rem;
}

.bg-area {
    background-color: #F1654C !important;
    padding: 4rem;
    position: relative;
    z-index: 1;
    overflow: hidden;
}

.bg-area::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('../images/bg-img.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    opacity: 0.1;
    z-index: -1;
}

.join-area-p-tag {
    text-align: center;
    font-size: 0.8rem;
    color: rgba(68, 81, 100, 1);
}

.cta-button-center {
    text-align: center;
}

/* join area END */

/* social media area START*/
.clanbooker-color {
    text-align: center;
    font-weight: bold;
    font-size: 2rem;
}

.clanbooker-p {
    text-align: center;
    color: rgba(68, 81, 100, 1);
}

.media-card img {
    width: 4.6875rem;
    height: 5rem;
}

.media-card {
    border: 0.0625rem solid #ddd;
    border-radius: 0.625rem;
    padding: 0.9375rem;
    background-color: rgba(249, 250, 252, 1);
    display: flex;
    justify-content: center;
}

.social-media {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(10.5rem, 1fr));
    gap: 1.25rem;
    margin: 0 auto;
    max-width: 63.625rem;
}

/* social media area END*/

/* Our Clan Booker offer area START */
p {
    color: rgba(68, 81, 100, 1);
}

.price-left25{
    padding-left: 7.1rem;
}

.price-left50{
    padding-left: 4rem;
}

.our-clan {
    text-align: center;
    font-weight: bold;
    font-size: 2.1875rem;
}

.sercel-btn {
    width: 0.75rem;
    height: 0.75rem;
}

.booker-offer {
    color: #e4492d;
}

.our-clan-p-tag {
    text-align: center;
    color: rgba(68, 81, 100, 1);
}

.gift-card-color {
    color: #e4492d;
}

.ebook {
    color: #e4492d;
}

.clanbook {
    color: #e4492d;
}

.price-text-small {
    font-size: 0.8125rem;
    font-weight: normal;
    color: rgba(27, 37, 51, 1);
}

.price-left {
    padding-left: 6.25rem;
}

.our-main-bg {
    background-color: rgba(245, 246, 247, 1);
    padding-top: 3.125rem;
    padding-bottom: 1.5625rem;
}

.our-clan-main {
    display: flex;
    gap: 2.5rem;
    margin: 0 auto;
    max-width: 66.7rem;
    padding: 1.875rem;
}

.our-clan-card1 {
    background-color: rgba(255, 255, 255, 1);
    width: 28.25rem;
    height: 26.2rem;
    top: 207.6875rem;
    left: 18.75rem;
    border-radius: 0.625rem;
    border: 0.0625rem solid #ddd;
    padding: 2.8125rem;
    line-height: 2.1875rem;
}

.our-clan-card1 ul li {
    list-style: none;
    color: rgba(68, 81, 100, 1);
}

.our-clan-card2 {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.our-clan-parent {
    background-color: rgba(255, 255, 255, 1);
    border-radius: 0.5rem;
    display: flex;
    padding: 1.75rem;
    gap: 2.5rem;
    align-items: center;
    border: 0.0625rem solid #ddd;
}

.our-clan-parent img.card-image {
    width: 3.4375rem;
    height: 3.4375rem;
    margin-bottom: 0.625rem;
}

.our-clan-parent h4 {
    margin: 0;
    font-size: 1.2rem;
}

.our-clan-parent p {
    color: #666;
    margin: 0.625rem 0;
}

.price {
    font-size: 1.6rem;
    font-weight: bold;
    margin: 0 auto;
}

/* Our Clan Booker offer area END */

/* Let’s read ClanBookers area strat */

.lets-read {
    text-align: center;
    font-weight: bold;
    font-size: 2rem;
}

.comunity-say-color1 {
    color: rgba(68, 81, 100, 1);
}

.review-flex {
    display: flex;
    gap: 1rem;
    text-align: center;
}

.review-text-top {
    padding-top: 0.5rem;
}

.next-previous {
    margin: 0 auto;
    max-width: 63rem;
    gap: 2rem;
    display: flex;
}

.next-previous-card {
    background-color: rgba(245, 246, 247, 1);
    width: 20rem;
    height: 19.375rem;
    border-radius: 1rem;
    padding: 1.375rem;
}

.man-profile-img {
    width: 3.75rem;
    height: 3.75rem;
    background-color: #F1654C;
    border-radius: 2rem;
}

.review-content {
    line-height: 1.375rem;
}

.button-center {
    text-align: center;
}

.lets-p {
    text-align: center;
}


/* Let’s read ClanBookers area END */

/* footer area START */

.footer-clan-book {
    font-weight: bold;
    font-size: 1.5rem;
}

.footer-bg-color {
    background-color: rgba(245, 246, 247, 1);
    padding-top: 3rem;
}

.clan-footer-color {
    color: #e4492d;
}

.oo-footer-color {
    color: #e4492d;
}

.footer-subscribe-color {
    color: rgba(255, 255, 255, 1);
    font-weight: bold;
    font-size: 1.2rem;
}

.footer-small-subscribe {
    color: rgba(234, 236, 240, 1);
    font-size: 0.7rem;
}

.footer-text-color {
    color: rgba(255, 255, 255, 1);
}

.footer-text-color a {
    text-decoration: none;
}

.subscribe {
    display: flex;
    gap: 1rem;
    background-color: #F1654C;
    padding: 2rem;
    border-radius: 0.5rem;
    margin: 0 auto;
    max-width: 63rem;
    align-items: center;
}

.list-row-items li {
    list-style: none;
}

.social-media-icon-card i {
    color: #F1654C;
}

.social-media-icon-card-twitter i {
    color: rgba(234, 236, 240, 1);
}

.footer-li li {
    color: rgba(68, 81, 100, 1);
}

.footer-titles {
    color: rgba(27, 37, 51, 1);
}

.input-tag-left {
    padding-left: 14rem;
}

.footer-input-card {
    padding: 0.6875rem;
    background-color: rgba(234, 236, 240, 1);
    border-radius: 0.625rem;
}

.footer-input-tag {
    border: none;
    outline: none;
    background-color: rgba(234, 236, 240, 1);
    padding: 0.875rem;
}

.footer-text {
    background-color: #e4492d;
    color: white;
    padding: 1.25rem 1.875rem;
    text-align: center;
}

.list-row-items {
    display: flex;
    gap: 3rem;
    margin: 0 auto;
    max-width: 62rem;
    line-height: 2rem;
}

.social-media-icon {
    display: flex;
    gap: 1.25rem;
    padding-top: 0.625rem;
}

.social-media-icon-card {
    background-color: rgba(234, 236, 240, 1);
    border-radius: 0.3125rem;
    padding: 0.3125rem 0.625rem;
}

.social-media-icon-card-twitter {
    background-color: #F1654C;
    border-radius: 0.3125rem;
    padding: 0.3125rem 0.625rem;
}

.my-name-color {
    color: rgba(255, 255, 255, 1);
    font-weight: bold;
    font-size: 0.9375rem;
}
/* footer area END */